# Node
node_modules/
frontend/.next/
frontend/out/
npm-debug.log*

# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc

# Env
.env
.env.local
backend/.env
frontend/.env.local

# OS
.DS_Store
